.pokedex {
    .camera:before {
        width: calc(100% - 8px);
        height: calc(100% - 8px);
    }

    .navigation {
        &:has(.navigation-my-pokemon:checked) + .screens .screens-content {
            transform: translateX(0%);
        }

        &:has(.navigation-pokemon:checked) + .screens .screens-content {
            transform: translateX(-100%);
        }

        .navigation-button:has(.navigation-dispatcher:checked) {
            @apply border-bg-border-gray text-[0.95rem];
        }

        .navigation-button:has(.navigation-dispatcher:checked)
            .navigation-button-icon {
            @apply w-[25px];
        }
    }

    .hinge {
        height: calc(100% - 46px);

        &::before,
        &::after {
            @apply content-[''] absolute block border-t border-b border-black h-[20px] w-full;
        }
    }

    .screen {
        .screen-header-button {
            @apply size-screen-header-button bg-button-blue border-button-blue rounded-[3px] border min-w-[30px];

            .screen-header-button-icon {
                @apply size-screen-header-button-icon stroke-white;

                path {
                    @apply stroke-icon-line;
                }
            }
        }

        .screen-header-button:active {
            @apply border-icon-line;

            .screen-header-button-icon {
                @apply size-screen-header-button-icon-active;
            }
        }

        .screen-grid {
            @apply grid grid-cols-3 auto-rows-min overflow-y-auto overflow-x-hidden;
        }

        &.pokemon-screen .screen-content {
            @apply grid-rows-[auto_1fr];

            &:has(.recent-pokemon) {
                @apply grid-rows-[auto_auto_1fr];
            }

            .recent-pokemon:has(.go-out) {
                @apply animate-hide-recent;
            }

            .recent-pokemon .recent-pokemon-action-btn {
                @apply col-[3] text-xs xs:text-sm bg-button-yellow text-slate-700 rounded-[5px] p-[5px];
            }

            & > .screen-grid {
                @apply z-[1];
            }
        }

        &.pokemon-edit-screen {
            &.animate-open {
                @apply animate-screen-go-top;
            }

            &.animate-close {
                @apply animate-screen-go-bottom;
            }

            .favorite {
                @apply absolute;

                .icon {
                    @apply w-[40px] h-[40px];
                }
            }

            input:not(.stat-slider-input) {
                @apply min-w-[50px] p-[0_5px] rounded-[2px] outline-bg-border-gray;
                field-sizing: content;
            }

            .stat input[type="number"] {
                @apply outline-stat-slider rounded-full text-right;
            }

            .stat {
                width: calc(100% - 75px);

                &.disabled {
                    filter: grayscale(50%);

                    input {
                        @apply cursor-auto;
                    }
                }
            }

            .stats:has(.attack.stat-value-15):has(.defense.stat-value-15):has(
                    .hp.stat-value-15
                ) {
                svg {
                    @apply fill-stats-full-alt;
                }

                .progress-bar,
                input[type="number"] {
                    @apply bg-stats-full-alt;
                }
            }

            &.no-editing .edit-cancel {
                @apply opacity-[0.75] pointer-events-none;
            }
        }

        .filter-button:has(.filter-button-dispatcher:checked)
            .screen-header-button-icon {
            transform: rotateZ(180deg);
        }

        .screen-button-action {
            &.loading {
                @apply pointer-events-none;
            }

            &.add-pokemon {
                @apply bg-accept;
                filter: drop-shadow(0 0 5px #000);

                &:hover {
                    transform: rotateZ(180deg);
                }

                &:active {
                    transform: scale(0.9) rotateZ(270deg);
                    filter: drop-shadow(0 0 10px #000);
                }

                &.loading {
                    @apply opacity-75 animate-spin;
                }
            }

            &.transfer-pokemon {
                @apply bg-button-transfer;

                svg path:first-child {
                    --translateX-hover: -2px;
                    --translateX-active: -4px;
                    --translateX: -4px;
                }

                svg path:last-child {
                    --translateX-hover: 2px;
                    --translateX-active: 4px;
                    --translateX: 4px;
                }

                &:hover svg path {
                    transform: translateX(var(--translateX-hover));
                }

                &:active svg path {
                    transform: translateX(var(--translateX-active));
                }

                &.loading {
                    @apply opacity-75;

                    svg path {
                        @apply animate-far-near;
                    }
                }
            }

            &.edit-save {
                @apply bg-accept text-accept-icon;

                &.loading {
                    @apply opacity-75;

                    svg {
                        @apply animate-up-down;
                    }
                }
            }

            &.edit-cancel {
                @apply bg-cancel text-icon-cancel;
            }
        }

        .pokemon:has(.pokemon-from-pokedex:checked) {
            @apply bg-selected;
        }

        .pokemon:has(.pokemon-from-pokedex:disabled) {
            @apply opacity-75;
        }
    }

    .front-cover {
        width: calc(100% - 10px);
        mask-image: linear-gradient(
                rgba(0, 0, 0, 0) 91px,
                rgba(0, 0, 0, 1) 91px
            ),
            url('data:image/svg+xml,<svg width="500" height="92" xmlns="http://www.w3.org/2000/svg"><path d="M500 92H87.5c-.833 0 1.757-.158 2.553-.407.795-.248 1.317-.542 2.002-1.016l60.89-42.154s1.363-.84 2.119-1.078c.782-.247 2.436-.345 2.436-.345H500v45" stroke="%23000"/></svg>');
        transform: rotateY(0deg);
        transform-origin: calc(100% + 5px) 0;

        .triangule {
            --bg-color: #ffc338;
            filter: drop-shadow(0 0 10px var(--bg-color));
        }

        .front-cover-reverse {
            height: calc(100% - 130px);
            width: calc(100% - 90px);
            transform: translateX(180deg);
        }

        &:has(.front-cover-dispatcher-open:checked) {
            transform: rotateY(180deg);
            background-position: 0 1px;
        }

        &:has(.front-cover-dispatcher-open:checked) .front-cover-button-open {
            z-index: -10;
        }

        &:has(.front-cover-dispatcher-open:checked) .front-cover-reverse {
            animation: front-cover-after-show forwards 1000ms linear;
        }

        &:has(.front-cover-dispatcher-close:checked) .front-cover-reverse {
            animation: front-cover-after-hide forwards 1000ms linear;
        }
    }

    .dialog-btn {
        @apply min-w-20 bg-button-blue border border-button-blue  text-white rounded-[3px] p-[2px_5px];

        &:hover {
            @apply bg-icon-line;
        }
    }

    .pokemon-stats {
        @apply text-stats;

        &.stats-15-15-15 {
            @apply text-stats-full;
        }

        .stat {
            --value: 0;
        }

        .icon {
            @apply block w-[15px] h-[15px] relative;

            svg {
                @apply block;
            }

            svg:first-child {
                @apply opacity-50;
            }

            .over {
                --percentage: calc(100% - (var(--value) / 15 * 100%));
                @apply absolute top-0 left-0;
                clip-path: inset(var(--percentage) 0 0 0);
                transition: all 0.5s ease-in-out;
            }
        }
    }

    .favorite:has(.favorite-dispatcher:checked) .icon use {
        fill: currentColor;
    }
}

.notification {
    &.info {
        @apply text-info;
    }
    &.success {
        @apply text-success;
    }
    &.warning {
        @apply text-warning;
    }
    &.error {
        @apply text-error;
    }
}

.stat-slider {
    --thumb-size: 25px;
    --icon: none;

    .progress {
        width: calc(100% - var(--thumb-size));
        left: calc(var(--thumb-size) / 2);

        .progress-bar {
            width: calc(var(--value) * 100% / var(--max));
        }
    }

    .thumb {
        left: calc(
            (var(--value) * 100% / var(--max)) - (var(--thumb-size) / 2)
        );

        svg {
            width: 90%;
            height: 90%;
        }
    }
}

@keyframes front-cover-after-show {
    0%,
    49.99% {
        visibility: hidden;
    }
    50%,
    100% {
        visibility: visible;
    }
}

@keyframes front-cover-after-hide {
    0%,
    49.99% {
        visibility: visible;
    }
    50%,
    100% {
        visibility: hidden;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes far-near {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(var(--translateX));
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes hide-recent {
    0% {
        grid-template-rows: 1fr;
    }
    100% {
        grid-template-rows: 0fr;
    }
}

@keyframes up-down {
    0%,
    100% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(-3px);
    }
    75% {
        transform: translateY(3px);
    }
}

@keyframes screen-go-top {
    to {
        top: 0;
    }
}

@keyframes screen-go-bottom {
    0% {
        top: 0;
    }
    25% {
        top: -50%;
    }
    100% {
        top: 100%;
    }
}
